
.container{
    max-width: 1600px;
}

.myfs{
    font-weight: 800;
    font-size: 1.3rem;
    color: aliceblue;
}
.myfs:hover{
    background-color: rgb(0, 221, 255);
    color: rgb(0, 13, 255);
}
.myfs2{
    font-size: 1.2rem;
    color: aliceblue;
}
.myfs2:hover{
    background-color: rgb(0, 221, 255);
    color: rgb(0, 13, 255);
}
#ddm1 li a:hover{
    background-color: rgb(0, 216, 250);
}
/* #ddb1:hover::after{
    content: "jjjj";
} */
#logo{
    width: 300px;
}
.mybg{
    background-color: rgb(27, 203, 230);
}


#slider{
    background-color: rgb(118, 220, 236);
}