
.container{
    max-width: 1600px;
}

.mybg{
    background-color: #fefefe;
}
.myfs{
    font-weight: 500;
    font-size: 1.15rem;
    color: black;
}
.myfs:hover{
    background-color: rgb(251, 248, 248);
    color: blue;
}
.myfs2{
    font-size: 1.2rem;
    color: black;
}
.myfs2:hover{
    background-color: rgb(0, 221, 255);
    color: blue;
}
#ddm1 li a:hover{
    background-color: rgb(0, 216, 250);
}
/* #ddb1:hover::after{
    content: "jjjj";
} */
#logo{
    width: 300px;
}


/* navbar  */
.ddmp{
    position: relative;
}
.ddmu{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background-color: #fefefe;
    z-index: 2;
    border: 1px solid #fefefe;
    border-radius: 10px;
}
.ddml{
    display: block;
    text-align: left;
    margin-left: -40px;
    border-bottom: 1px solid #000;
}
.ddma{
    display: block;
    text-decoration: none;
    color: black;
    padding:10px 10px;
    font-weight: 400;
    font-size: 1.05rem;
}
.ddma:hover{
    background-color: aqua;
    color: #2f00ff;
    transition: 0.2s;
}
.ddmu{
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .5s;
}

@media (max-width: 767px){
    .ddm_show{
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
        transition: .5s;
    }
    .ddm_show .ddma{

    }
}

@media (min-width: 768px) {
    /* hover of drop dpwn menu */
    .ddma{
        display: block;
        text-decoration: none;
        color: black;
        padding:10px 10px;
        font-weight: 400;
        font-size: 1.05rem;
    }
    .ddmu{
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
        transform-origin: top center;
        transition: .5s;
    }
    .ddmp:hover .ddmu{
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
        transition: .5s;
    }
}

/* navbar  */









#slider{
    background-color: #f3f1f1;
}
#slider a{
    text-decoration: none;
}
#slider p,h4{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}
#slider h4{
    font-weight: 800;
    font-size: 1.7rem;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
#slider h4:hover{
    font-weight: 900;
    color: blue;
    font-size: 1.8rem;
    transition: 0.5s;
}
#slider h4::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
    transform: scale(0);
    transform-origin: center;
    transition: 0.5s;
    z-index: -1;
}
#slider h4:hover::before{
    /* its turned of */
    visibility: visible;
    transform: scale(0);
    transition: 0.5s;
}
#main{
    background-color: #fcf1f1;
}
 #main .left{
    background-color: #efe6e6;
 }
 #main .right{
    background-color: #efe6e6;
    /* padding-left: 0px;
    padding-right: 0px; */
 }
 .body{
    height: 300px;
    width: 100%;
    background-color: rgb(254, 254, 254);
 }
 .notice{
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
 }


